* {
    padding:0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif; /* New Font */

}

body {
    background: #f5f6fa;
}

.container {
    min-height: 100vh;

    margin: 0 auto;
}

header {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.logo-container {
    display: flex;
    justify-content: flex-start;
    grid-gap: 10px;
    align-items: center;
}
header img {
    height: 15vh;
}
header div {flex: 1}

header .moe-logo {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

header img {
    padding: 5px;
}

.responsive_header {
    display: none;
}

.header {
    background-image: url('./main-bg3.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 20px;
}

/* Main Section Style  */

main {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    width: 90%; 
    margin: 0px auto;
}

main h1 {
    font-size: 40px;
}

main a {
    display: flex;
    text-decoration: none;
    padding: 10px 30px; 
    font-size: 30px;
    grid-gap: 10px;
    background: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition:  all linear .2s;
    color: #000;
    font-weight: bold;
    border-radius: 15px;
}

main a:hover {
    transform: scale(1.1);
}

main img {
    height: 5vh;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    grid-gap: 10px;
    height: 200px;
    paddinG: 10px;
    border-top: 2px solid #1e272e;
    margin-top: 20px;
}

.content 
{
    width: 90%; 
    margin: 0px auto;
}

.leader-speech 
{
    line-height: 30px;
}

.leader-speech h1 {
    border-bottom: 2px solid #1e272e;
    width: fit-content;
    padding: 10px 0px;
    margin: 10px 0px;
}

footer h3 {
    margin: 10px 0px;
}
.contact-row
{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between; 
    grid-gap: 20px;
    align-items: center;
}


.contact-row span {
    direction: ltr;
}

.content_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content_content img {
    /* width: 30%; */
    flex:1;
    width: 30%;
    display: inline-block;
}

.content_content p {
    padding: 20px;
}

.feedback-btn {
    color: #1e272e;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    header {
        display: none;
    }
    .responsive_header {
        display: flex;
        padding: 10px 0px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        line-height: 30px;
        width: 100%;
        height: 200px;
        /* background: red; */
    }
    .responsive_header img {
        height: 10vh;
    }

    .responsive_header .logos {
        display: flex;
        justify-content: space-around; 
        align-items: center;
        width: 100%;
    }
    .responsive_header .logos img {
        display: block;
        height: 15vh;
    }

    .responsive_header .school-name {
        background: #1e272e;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    footer {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
    .footer-col 
    {
        width: 100%;
        /* background: red; */
    }

    .contact-row {
        width: fit-content; 
    }


    .content_content {
        flex-direction: column;
    }

    .content_content img {
        width: 100%;
    }

}
